<h2>Edit Details</h2>
<h4>Check the boxex in matrix accordingly</h4>

<table class="table" border="2px solid black">
	<THEAD>
		<th >Item\Person</th>
		<th ng-repeat="person in persons" > {{person.name}}</th>
	</THEAD>
	<tr ng-repeat="item in items" >
		<th>{{item.name}}, {{item.price}}</th>
		<td ng-repeat="person in persons" >
			<input type="checkbox" class="largerCheckbox"
			ng-click="changeTotal($event.target.checked, $parent.$index, $index)"/>
		</td>
	</tr>
	<tr>
		<th>Total</th>
		<td ng-repeat="person in persons" > {{person.amount}}</td>
	</tr>

</table>

<chart chart-id="piechart" color="red"></chart>
