</br>
<h4>Please Enter Below Information</h4>


<h5>People</h5>


<ol ui-sortable ng-model="persons">
  <li ng-repeat="person in persons">
  	<span >{{person.name}}</span>
  	<a src="images/user_delete.png" ng-click="deletePerson($index)">
  		<img class="delete-person-button" src="images/user_delete.png" alt="Delete">
  	</a>
  </li>
</ol>

<form>
	<input class="add-input" placeholder="Enter the names of people" type="text" ng-model="person" autofocus />
	<button class="btn btn-info" ng-click="addPerson()">Add</button>
</form>

