body {
}

.todo-wrapper {
  background: #55B6AE;
  width: 100%;
}

h2 {
  font-size: 2em;
  
  font-family: megrim, fantasy;
  background: #1CA89C;
  padding: 40px;
  margin: 0;
  color: #333;
  text-align: center;
 }
.emphasis {
  font-family: vast-shadow, sans-serif;
  font-size: 4em;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  /*list-style-type: none;*/
}

li input[type="checkbox"] {
  width: 40px;
}

.done-true {
  text-decoration: line-through;
  color: #ddd;
}

.delete-button {
width: 24px;
height: 24px;
}

/** @group skills **/
#list-left { display: block; float: left; margin-right: 30px; }
#list-right { display: block; float: left;}
