body {
}

.todo-wrapper {
  background: #55B6AE;
  width: 100%;
}

h1 {
  font-size: 2em;
  background: #28C1C7;
  padding: 20px;
  margin: 0;
  color: #333;
  text-align: center;
 }
.emphasis {
  font-family: vast-shadow, sans-serif;
  font-size: 4em;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  /*list-style-type: none;*/
}

li input[type="checkbox"] {
  width: 40px;
}

.done-true {
  text-decoration: line-through;
  color: #ddd;
}

.delete-button {
width: 24px;
height: 24px;
}

/** @group skills **/
#list-left { display: block; float: left; margin-right: 30px; }
#list-right { display: block; float: left;}

/*.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}*/


/** @group clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

#global-footer {
    font-size: 150%;
    clear: both;
    margin-top: 40px;
    padding: 20px 0px 12px;
    font: 9px "ff-dagny-web-pro-1","ff-dagny-web-pro-2",Helvetica,Arial,sans-serif;
    background-color: rgb(213, 215, 219);
    text-align: center;
}

.table td, th {
  width: 4rem;
  height: 2rem;
  border: 1px solid #ccc;
  text-align: center;
}

.table th {
  background: lightblue;
  border-color: white;
}

input.largerCheckbox
{
  width: 30px;
  height: 30px;
}